<ion-header>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content>

  <article>
    @for (movie of fav.getAll(); track movie) {
      <ion-item>
        <ion-label>
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.release_date | date: 'dd/MM/yyyy' }}</p>
            <p>{{ movie.vote_average | number: '1.0-1' }} / 10</p>
          </ion-label>
        <ion-button slot="end" color="danger" (click)="fav.remove(movie.id)">
          Remover
        </ion-button>
      </ion-item>
    }@empty {
      <p>Nenhum filme favoritado</p>
    }
  </article>


</ion-content>
