
//Cabeçalho (Header)
<ion-header>
  <ion-toolbar >
    <div class="header-container">

      <a routerLink="'/home'">
        <img src="../../assets/imagens/logo pobre.png" alt="Logo" width="40px">
      </a>

      <ion-searchbar
        placeholder="Buscar filmes..."
        (ionInput)="onSearchChange($event)"
        animated
        mode="md"
      ></ion-searchbar>

      <a routerLink="/favorites">
        <img src="../../assets/imagens/coracao-ecuro.png" alt="icone" width="30">
      </a>

    </div>
  </ion-toolbar>
</ion-header>

//Body
<ion-content [fullscreen]="true">
// Loop de angular 17+ para repetir o bloco de HTML para cada item da lista de movies.
 @for (movie of movies; track movie.id) {
    <ion-list>
      <ion-item-sliding>
        // line=full mostra linha completa do item, ocupando 100% da largura.
        <ion-item lines="full">
          // slot=start alinha a iamgem para começar a esquerda. Default ficaria no meio e end na direita.
          <ion-thumbnail slot="start">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Poster do filme" />
          </ion-thumbnail>

          // Irá pega o retorno da API TMDB e retorna JSON os dados e podemos manipular, nesse caso pegando título data e rating.
          <ion-label class="ion-text-wrap">
            <h2>{{ movie.title | uppercase }}</h2>
            <p>{{ movie.release_date | date: 'dd/MM/yyyy' }}</p>
            <p>{{ movie.vote_average | ratingText }}</p>
          </ion-label>
          
          <!--Rota com parametro-->
          <ion-button [routerLink]="['/detalhe', movie.id]" slot="end" color="success" >
            Detalhes
          </ion-button>

          
          <!-- Diretiva @IF -->
          @if (movie.vote_average >= 7) {
            <ion-chip color="success" outline>
              <ion-label>{{ (movie.vote_average * 10) | number: '1.0-0' }}%</ion-label>
            </ion-chip>
          }
          @if (movie.vote_average >= 4 && movie.vote_average < 7) {
            <ion-chip color="warning" outline>
              <ion-label>{{ (movie.vote_average * 10) | number: '1.0-0' }}%</ion-label>
            </ion-chip>
          }
          @if (movie.vote_average < 4) {
            <ion-chip color="danger" outline>
              <ion-label>{{ (movie.vote_average * 10) | number: '1.0-0' }}%</ion-label>
            </ion-chip>
          }
          

        </ion-item>

        <!-- Botão de favoritos -->
        <ion-item-options side="end">
          <ion-item-option color="success" (click)="adicionaFilme(movie)">
            <ion-icon name="heart"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        
      </ion-item-sliding>
    </ion-list>
  }
</ion-content>