ion-item{
  --pading-start: 10px;
  --inner-padding-end: 10px;

    ion-thumbnail{
        height: 100%;
        margin-inline-end: 10px;
    }

    ion-chip{
      padding: 3px;
    }

    h1 {
      font-weight: bold;
      font-size: 0.8erm;
    }

    p {
      font-size: 0.06 erm;
    }

    p+p{
      color:rgb(236,82,43)
   }

    .logo {
      display: inline-block;
      cursor: pointer;
    }

    .logo, img {
      pointer-events: none; /* evita que imagem capture o clique se o link já é o pai */
      display: block;

    }

    ion-icon{
      color: white;
    }


}