.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  // background-color: #5b00d1;
  background-color: #0D0D0D;
  padding-right: 20px !important;
  padding: 16px 10px;
}
.titulo {
  // font-family: 'Montserrat', sans-serif;

  // Fonte semelhante a netflix
  font-family: 'Bebas Neue', cursive;
}


.card{
  display: flex ;
  align-items: center;
  justify-content: center;
}
ion-img{
  width: 100%;
}
ion-card{
  width: 200px;
}
ion-card-title, ion-card-content{
  text-align: center;
}

.divTrailers{
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.divTrailers p{
  margin: 0;
  font-weight: 600;
  color: rgb(212, 212, 212);
}
