<ion-header>
  <ion-toolbar>
    <div class="header-container">

      <a [routerLink]="'/'">
        <img src="../../assets/imagens/logo pobre.png" alt="Logo" width="40px">
      </a>
      <div class="titulo">
        <ion-title>Detalhes</ion-title>
      </div>
      <a routerLink="/favorites">
        <img src="../../assets/imagens/coracao-ecuro.png" alt="icone" width="30">
      </a>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (movie){
    <div class="card">
      <ion-card>
        <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"></ion-img>
        
        <ion-card-header>
          
          <ion-card-title>{{ movie.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ movie.release_date | date: 'dd/MM/yyyy' }}</p>
          <p>{{ movie.vote_average | ratingText }}</p>
          <p>Descrição:</p>
          <p>{{ movie.overview}}</p>  
        </ion-card-content>
        
        <div class="divTrailers">
          <p>Trailers:</p>
          <ion-button size="small" color="black"  pesquisaTrailer [movieTitle]="movie.title" idioma="pt-BR"><img src="https://cdn-icons-png.flaticon.com/128/630/630591.png" alt="" width="20px"></ion-button>
          <ion-button size="small" color="black" pesquisaTrailer [movieTitle]="movie.title" idioma="en-US"><img src="https://cdn-icons-png.flaticon.com/128/330/330459.png" alt="" width="20px"></ion-button>
        </div>
        
      </ion-card>
    </div>
    
  }
</ion-content>
